<div class="container">
   <div class="row">
	   	<div class="col-md-7">
			   <%= link_to 'Back', portfolios_path %><br><br>
		     <p><%= image_tag @portfolio_item.main_image %></p>
		  </div>
	   	<div class="col-md-5">
			    <p><strong><%= @portfolio_item.title %></strong></p>
					<hr>
	        <p><%= @portfolio_item.body %></p>
	        <br>
	        <h2> Technologies used </h2>
	        <% @portfolio_item.technologies.each do |t| %>
	        		<p><%= t.name %></p>
	        <% end %>
		  </div>
   </div>
</div>
<%= params.inspect%><br> <hr>

<%= params[:controller]%><br> <hr>

<%= params[:action]%><br><hr>

<%= params[:id]%> <br><hr>

<%= session.inspect %>
