<h1>Contact Me</h1>
<p>Find me in app/views/pages/contact.html.erb</p>
<p id="notice"><%= notice %></p>


<p><%=number_to_phone "5555555555"%></p>
<p><%=number_to_currency "150"%></p>
<p><%=number_to_percentage "80.4"%></p>
<p><%=number_with_delimiter "150877263847623"%></p>

<p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2488.4020490211688!2d-0.05425798417558428!3d51.4140407796199!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487601740d821677%3A0x6aeea013e314734e!2sDomino&#39;s%20Pizza%20-%20London%20-%20Penge!5e0!3m2!1sen!2suk!4v1597090810484!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></p>
